node_modules

#Hardhat files
cache
artifacts
.env
demo.ts
test/idleYieldSourceOld.test.ts
test/IdleYielSourceUnitTest.test.ts
types
deployments/localhost/

/.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks

# Solidity Coverage
coverage
coverage.json

# VS Code
.history